<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add
                id="Vietdung_Blogg::blog"
                title="Blog Manager"
                module="Vietdung_Blogg"
                sortOrder="1"
                resource="Vietdung_Blogg::blog"
        />
        <add
                id="Vietdung_Blogg::list_blog"
                title="List Blog"
                module="Vietdung_Blogg"
                action="blogg/index"
                resource="Vietdung_Blogg::list"
                parent="Vietdung_Blogg::blog"/>
    </menu>
</config>